<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="pt-5">
          <img src="assets/images/logo.png" alt="logo" />
          <h3 class="mt-5 title">Qui sommes-nous </h3>
          <div>
            <p>Founded in 2010, JCVISION Technology Inc, brand with "JCVISION", is a high-tech, innovative and dynamic enterprise, specializing in research, development and manufacture of modern educational equipments and multi-media products, also, Junction is the system integration and interactive solution provider, we are in this field nearly ten years, JCVISION has become a well-known educational products & multi-media products brand.</p>
            <p>Now we JCVISION products line are covering JCTOUCH interactive flat panel display, JCBOARD interactive whiteboard, JCKAPP interactive kapp, JCPrinter 3D PRINTER and other peripherals, our JCVISION products have already entered around 85 countries in the world. </p>
          </div>
      </div>
    </div>
    <div class="col-5">
      <img src="assets/images/about.png" alt="about">
    </div>
  </div>
</div>
