<div class="to-navbar">
   <div class="top-nav px-sm-2 px-md-4 py-2">
    <div class="d-flex justify-content-between">
      <div class="nav-contact">
        <ul class="d-sm-flex">
          <li *ngFor="let c of topContacts" class="ml-3">
            <i [class]="c.icon"></i>
            <span class="ml-2">{{c.label}}</span>
          </li>
        </ul>
      </div>
      <div class="nav-social">
        <ul class="d-flex">
          <li *ngFor="let c of topSocials" class="mr-3">
            <a href="" class="text-white"><i [class]="c.icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
   </div>
   <div class="nav-brand px-md-5 px-2 py-4">
     <div class="d-sm-flex d-block justify-content-between text-center">
         <span class="bg-white logo-bg"  ><img src="assets/images/logo.png" alt=""></span>
        <div class="mt-3 main-search-bar">
          <div class="search-bar d-flex">
            <select #category (change)="onCategoryChange(category.value)">
              <option disabled selected>Catégorie</option>
              <option class="" *ngFor="let p of products"  >{{p.category}}</option>
            </select>
            <div class="searchbar">
              <input type="search" class="px-3" placeholder="Rechercher ....">
            </div>
            <button (click)="search()">
              <span class="d-none d-md-flex">RECHERCHER</span>
              <i class="fa fa-search d-md-none d-flex" aria-hidden="true"></i>
            </button>
          </div>
        <!-- <div class="autocomplet" *ngIf="productsToSelect !== undefined">
            <ul>
             <li *ngFor="let p of productsToSelect!.products" (click)="selectedProduct = p">
              {{p.name}}
             </li>
            </ul>
          </div> -->
        </div>
        <div class="i18n d-none d-md-block">
             <div class="flex">
               <button>
                FR
               </button>
               <span class="text-white mx-2">|</span>
               <button>
                EN
               </button>
             </div>
        </div>
     </div>
   </div>
   <div class="nav-menu px-3 py-3">
     <div class="d-flex justify-content-between">
      <button class="d-flex d-md-none">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="d-none d-md-flex">
        <li *ngFor="let m of menus" class="ml-3">
          <a href="">{{m.label}}</a>
        </li>
       </ul>

       <div class="i18n  d-md-none">
        <div class="flex">
          <button class="text-dark">
           FR
          </button>
          <span class="text-dark mx-2">|</span>
          <button class="text-dark">
           EN
          </button>
        </div>
   </div>


     </div>

   </div>
</div>
